.skills-section {
  padding: 100px 50px;
  background: var(--section-background-color);
  text-align: center;
  overflow: hidden;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-logo {
  width: 45%; /* Ajuste para que quepa mejor */
  height: 45%; /* Ajuste para que quepa mejor */
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-item:hover .skill-logo {
  transform: scale(1.1);
}

.skill-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.skill-level {
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
}

/* Estilos para el contenedor del logo dentro del círculo */
.CircularProgressbar-background {
  fill: var(--section-background-color);
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: var(--border-color);
}

/* Eliminamos la regla conflictiva de .CircularProgressbar-path */

/* Centramos el logo dentro del círculo */
.CircularProgressbar .CircularProgressbar-text {
  fill: var(--text-color); /* No afecta a la imagen, pero es buena práctica */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-5px); /* Pequeño ajuste vertical */
}